* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
a {
  all: unset;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-height: 680px;
  background-color: #fff8f0;
}
@media screen and (max-width:1024px) {
  .contact-container {
    gap: 0px;
  }
}
